@model IEnumerable<Musicly.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

    <button class="btn btn-primary">@Html.ActionLink("Add Customer", "New", "Customers")</button>
    <table id="customers-table" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
            <th>Delete</th>
        </tr>
        </thead>
        @*SSR - server side rendering*@
        @*<tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)</td>
                <td>@customer.MembershipType.Name</td>
                <td>
                    <button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button>
                </td>
            </tr>
        }
        </tbody>*@ 
    </table>


@section scripts
{
    <script>
        $(document).ready(function () {
            $("#customers-table").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },

                columns: [
                    {
                        data: "name",
                        render: function (data, type, customer) {
                            return "<a href='/customers/edit/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-customer-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            var $deleteBtn = $("#customers-table .js-delete");
    
            $deleteBtn.on("click", function () {
                var self = $(this);
                bootbox.confirm("Delete customer?", function (result) {
                    if (result) {
                        deleteCustomer(self);
                    }
                })
            });

            var deleteCustomer = function (btn) {
                $.ajax({
                    url: "/api/customers/" + btn.attr("data-customer-id"),
                    method: "DELETE",
                    success: function () {
                        btn.parents("tr").remove();
                    }
                });
            };
        });
    </script>
}