@model IEnumerable<Musicly.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (!Model.Any())
{
    <p>No customers yet</p>
}
else
{
    <button class="btn btn-primary">@Html.ActionLink("Add Customer", "New", "Customers")</button>
    <table id="customers-table" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)</td>
                <td>@customer.MembershipType.Name</td>
                <td>
                    <button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            var $deleteBtn = $("#customers-table .js-delete");
    
            $deleteBtn.on("click", function () {
                var self = $(this);
                if (confirm("Delete customer?")) {
                    $.ajax({
                        url: "/api/customers/" + $(this).attr("data-customer-id"),
                        method: "DELETE",
                        success: function () {
                            self.parents("tr").remove();
                        }
                    });
                }
            });
        });
    </script>
}