@model IEnumerable<Musicly.Models.Song>
@{
    ViewBag.Title = "Songs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Songs</h2>

@if (!Model.Any())
{
    <p>No songs yet</p>
}
else
{
    <button class="btn btn-primary">@Html.ActionLink("Add Song", "New", "Songs")</button>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Song</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var song in Model)
            {
                <tr>
                    <td>@Html.ActionLink(song.Name, "Edit", "Songs", new { id = song.Id }, null)</td>
                    <td>@song.Genre.Name</td>
                </tr>
            }
        </tbody>
    </table>
}