
@{
    ViewBag.Title = "New Rental Form";
}

<h2>New Rental Form</h2>

<form id="newRental">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input required data-rule-validateCustomer="true" id="customer" name="customer" class="form-control" type="text" value="" />
        </div>
    </div>

    <div class="form-group">
        <label>Song</label>
        <div class="tt-container">
            <input data-rule-validateSong="true" id="song" name="song" class="form-control" type="text" value="" />
        </div>
    </div>

    <div class="row">
        <div class="col md-4">
            <ul id="songs" class="list-group"></ul>
        </div>
    </div>
    

    <button class="btn btn-primary">Submit</button>
</form>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");

    <script>
        $(document).ready(function () {

            var _viewModel = {
                songIds: []
            };

            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                //prefetch: '../data/films/post_1960.json',
                remote: {
                    url: '/api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            var songs = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/songs?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customer').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'customers',
                display: 'name',
                source: customers
                }).on("typeahead:select", function (e, customer) {
                    _viewModel.customerId = customer.id;
                });;

            $('#song').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'songs',
                display: 'name',
                source: songs
                }).on("typeahead:select", function (e, song) {
                    $("#songs").append("<li class='list-group-item'>" + song.name + "</li>");

                    $("#song").typeahead("val", "");

                    _viewModel.songIds.push(song.id);
                });

            $.validator.addMethod("validateCustomer", function () {
                return _viewModel.customerId && _viewModel.customerId !== 0;
            }, "Select a valid customer");

            $.validator.addMethod("validateSong", function () {
                return  _viewModel.songIds.length > 0;
            }, "Select a valid song");

            var validator = $("#newRental").validate({
                submitHandler: function () {
                    //e.preventDefault();

                    $.ajax({
                        url: "/api/newRentals",
                        method: "post",
                        data: _viewModel
                    })
                    .done(function () {
                        toastr.success("Rentals successful!");

                        $("#customer").typeahead("val", "");
                        $("#song").typeahead("val", "");
                        $("#songs").empty();

                        _viewModel = {
                            songIds: []
                        };

                        validator.resetFrom();
                    })
                    .fail(function () {
                        toastr.error("Error, unexpected result!");
                    });

                    return false;
                }
            });
            
        });
        
    </script>
    
}